body {
  background: rgba(0,196,255,1);
background: -moz-linear-gradient(45deg, rgba(0,196,255,1) 0%, rgba(4,179,251,1) 9%, rgba(25,100,230,1) 51%, rgba(73,49,230,1) 84%, rgba(97,25,230,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,196,255,1)), color-stop(9%, rgba(4,179,251,1)), color-stop(51%, rgba(25,100,230,1)), color-stop(84%, rgba(73,49,230,1)), color-stop(100%, rgba(97,25,230,1)));
background: -webkit-linear-gradient(45deg, rgba(0,196,255,1) 0%, rgba(4,179,251,1) 9%, rgba(25,100,230,1) 51%, rgba(73,49,230,1) 84%, rgba(97,25,230,1) 100%);
background: -o-linear-gradient(45deg, rgba(0,196,255,1) 0%, rgba(4,179,251,1) 9%, rgba(25,100,230,1) 51%, rgba(73,49,230,1) 84%, rgba(97,25,230,1) 100%);
background: -ms-linear-gradient(45deg, rgba(0,196,255,1) 0%, rgba(4,179,251,1) 9%, rgba(25,100,230,1) 51%, rgba(73,49,230,1) 84%, rgba(97,25,230,1) 100%);
}
